streamlit
python-dotenv
requests
google-generativeai

gTTS

dateparser
beautifulsoup4
duckduckgo-search

pandas
jsonschema

email-validator

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

urllib3
certifi
idna
charset-normalizer
